<%- include('partials/header', {page_title:"Error Page"}) -%>

<%- include('partials/navbar') -%>

<h1> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>

<%-include('../partials/footer')-%>
